:root{
    --background-color: rgba(255, 255,255, 0.6);
    --text-color: black;
    --link-color: green;
    --link-hover-color: greenyellow;
    --font-family: 'Poppins', sans-serif, 'Times New Roman', Times, serif;
}

.regressive-counter{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 6px;
    min-width: 335px;
    flex-wrap: wrap;

    border-radius: 12px;

    transition: 0.15s;
}

.regressive-counter a{
    color: var(--link-color);
    text-decoration: none;
    font-size: 2rem;
    transition: 0.15s;
}

.regressive-counter:hover a {font-size: 2.5rem;}

.regressive-counter a:hover{
    color: var(--link-hover-color);
}

.regressive-counter .day, .regressive-counter .hour, .regressive-counter .minute, .regressive-counter .second{
    font-size: 3rem;
    font-family: var(--font-family);
} 
@media (min-width:500px) {
    .regressive-counter:hover{min-width: 450px;}
}
@media (max-width:500px) {
    .regressive-counter{
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width:370px) {
    .regressive-counter .day, .regressive-counter .hour, .regressive-counter .minute, .regressive-counter .second{
        width: 50vw;
    } 
}